body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #ecf0f3;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    overflow: hidden;
    font-family: poppins;
  }
  
  .container {
    position: relative;
    max-width: 350px;
    min-height: 510px;
    border-radius: 20px;
    padding: 40px;
    margin : 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  }
  
  #result,h1 {
    margin-top: 5px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #1DA1F2;
    letter-spacing: 1px;
}

.inputs {
    text-align: left;
    margin-top: 30px;
}

label, input, button, select {
    font-size: 1.2rem;
    display: block;
    max-width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }
  
  label {
    margin-bottom: 4px;
  }
  
  label:nth-of-type(2) {
    margin-top: 12px;
  }
  
  input::placeholder, select::placeholder {
    color: gray;
  }
  
  input, select {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    min-height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  }
  select{
    margin: auto;
    max-width: 158px;
    min-height: 40px;
    font-size: 14px;
    border-radius: 20px;
    border: solid 2px rgba(178, 154, 201, 0.815);
    box-shadow: inset 6px 6px 6px #5f89b385, inset -6px -6px 6px white;
  }
  
  #result{
    margin-top: 15px;
    text-align: center;
  }
  hr{
    color: lightgray;
  }
 
